<div class="row">
 <div class="col-md-8">
   <div class="media">
     <br />
     <% avatar_url = @user.avatar_url(128) %>
     <% if avatar_url %>
       <div class="media-left">
         <%= image_tag avatar_url, class: 'media-object' %>
       </div>
     <% end %>
     <div class="media-body">
       <h2 class="media-heading"><%= @user.name %></h2>
       <small>
         <%= pluralize(@user.posts.count, 'post') %>,
         <%= pluralize(@user.comments.count, 'comment') %>
       </small>
     </div>
   </div>
 </div>
</div>

<h2>Posts</h2>
  <% if has_posts?(@user) %>
   <%= render @user.posts %>
  <% else %>
   <%= "#{@user.name} has not submitted any posts yet." %>
  <% end %>

<h2>Comments</h2>
  <% if has_comments?(@user) %>
    <%= render @user.comments %>
  <% else %>
    <%= "#{@user.name} has not commented on any posts yet." %>
  <% end %>

<% if has_favorites?(@user) %>
  <h2>Favroites</h2>

  <% @user.favorites.each do |favorite| %>
   <div class="media">
     <div class="media-body">
       <div class="side-pic">
         <%= image_tag favorite.post.user.avatar_url(30), class: "gravatar" %>
       </div>
       <h4 class="media-heading side-pic">
         <%= favorite.post.title %>
       </h4>
       <br>
      <small>
         <%= favorite.post.comments.count %> comments <br>
         <%= favorite.post.up_votes %> up votes and <%= favorite.post.down_votes %> down votes
       </small>
     </div>
   </div>
 <% end %> 
 <% end %> 